Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-axes==6.5.1
django-csp==3.8
django-phonenumber-field[phonenumbers]==8.0.0
phonenumbers==8.13.43
psycopg2-binary==2.9.9
python-decouple==3.8
cryptography==42.0.8
argon2-cffi==23.1.0
requests==2.32.3
reportlab==5.0.1
gunicorn==22.0.0
whitenoise==6.7.0
